Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.exe
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.exe
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.pdb
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.exe