Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.exe
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.exe
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.pdb
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/obj/x86/Debug/LearnCSharp.exe
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/bin/Debug/LearnCSharp.pdb
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/bin/Debug/LearnCSharp.exe
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp.suo
Visual Studio 2010/Projects/LearnCSharp/LearnCSharp/bin/Debug/LearnCSharp.vshost.exe.manifest