<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LearnCSharp.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="LearnCSharp.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\VisualStudio\NextStep\Visual Studio 2010\Projects\DatabaseFiles\Employee.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="newEndPointWSDualHttp" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/WcfServiceLibraryEmployee/ICallbackExampleDuplex/ImplementICallbackExampleDuplex"
                binding="wsDualHttpBinding" bindingConfiguration="newEndPointWSDualHttp"
                contract="ServiceReference1.ICallbackExampleDuplex" name="newEndPointWSDualHttp">
                <identity>
                    <userPrincipalName value="shashankshekhar1@ciqindia.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>