<system.serviceModel>
  <services>
    <service name="NorthwindServices.Services.CustomerService"
                        behaviorConfiguration ="ServiceBehavior">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:7741/NorthwindServices/Services
                                /CustomerService" />
          <add baseAddress="net.pipe://localhost/Services/CustomerService" />
        </baseAddresses>
      </host>

      <endpoint address ="" binding="wsHttpBinding"
                  contract="NorthwindServices.ServiceContracts.ICustomerService"
                  bindingNamespace = "http://dotnetmentors.com/services/customer" />
      <endpoint address="mex" binding="mexHttpBinding"
                   contract="IMetadataExchange"/>

      <endpoint address ="" binding ="netNamedPipeBinding"
                  contract ="NorthwindServices.ServiceContracts.ICustomerService"
                  bindingNamespace = "http://dotnetmentors.com/services/customer"  />
      <endpoint address="mex" binding="mexNamedPipeBinding"
                   contract="IMetadataExchange"/>
    </service>

    <service name="NorthwindServices.Services.OrderService"
                           behaviorConfiguration ="ServiceBehavior">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:7741/NorthwindServices/Services
                                    /OrderService" />
          <add baseAddress="net.pipe://localhost/Services/OrderService" />
        </baseAddresses>
      </host>

      <endpoint address ="" binding="wsHttpBinding"
                  contract="NorthwindServices.ServiceContracts.IOrderService"
                  bindingNamespace = "http://dotnetmentors.com/services/order" />

      <endpoint address="mex" binding="mexHttpBinding"
                   contract="IMetadataExchange"/>

      <endpoint address = "" binding ="netNamedPipeBinding"
                  contract = "NorthwindServices.ServiceContracts.IOrderService"
                  bindingNamespace = "http://dotnetmentors.com/services/order"  />
      <endpoint address="mex" binding="mexNamedPipeBinding"
                   contract="IMetadataExchange"/>

    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name ="ServiceBehavior" >
        <serviceMetadata httpGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>
